<link href="~/Content/StudioForm.css" rel="stylesheet"/>
<div class="form-main">
    <form action="/StudioForm/CreateStudio" method="post">
        <label for="name">Studio's Name</label>
        <input id="name" name="Name" required />
        <input name="studioSubmit" type="submit" value="Submit" />
    </form>
</div>
