<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/clients/genresClient.js"></script>
<script src="~/scripts/clients/studiosClient.js"></script>
<script src="~/scripts/clients/producersClient.js"></script>
<script src="~/scripts/clients/gamesClient.js"></script>
<link href="~/Content/GameForm.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        getAllGenres(writeGenresResponse);
        getAllStudios(writeStudiosResponse);
        getAllProducers(writeProducersResponse);
    })

    function writeGenresResponse(genres) {
        var strResult = "";
        $.each(genres, function (index, genre) {
            strResult += "<option value=" + genre.Id + ">" + genre.Name + "</option>"
        })
        $("#genreId").html(strResult);
    }

    function writeStudiosResponse(studios) {
        var strResult = "";
        $.each(studios, function (index, studio) {
            strResult += "<option value=" + studio.Id + ">" + studio.Name + "</option>"
        })
        $("#studioId").html(strResult);
    }

    function writeProducersResponse(producers) {
        var strResult = "";
        $.each(producers, function (index, producer) {
            strResult += "<option value=" + producer.Id + ">" + producer.Name + "</option>"
        })
        $("#producerId").html(strResult);
    }

    function backClickHandler() {
        document.location.href = "/Home";
    }

</script>
<div class="game-form">
    <form method="post" action="/GameForm/CreateGame" enctype="multipart/form-data">
        <div>
            <label for="gameName">Name of the game:</label>
            <input id="gameName" name="Name">
        </div>
        <div>
            <label for="genreId">Genre of the game:</label>
            <select id="genreId" name="GenreId"></select>
        </div>
        <div>
            <label for="studioId">Studio of the game:</label>
            <select id="studioId" name="StudioId"></select>
        </div>
        <div>
            <label for="producerId">Producers:</label>
            <select id="producerId" name="Producers" multiple></select>
        </div>
        <div>
            <label for="gameDate">Game production date:</label>
            <input id="gameDate" name="Date" type="date" />
        </div>
        <div>
            <label for="gameRate">Game's rate:</label>
            <input id="gameRate" name="Rate" type="number" />
        </div>
        <div>
            <label for="gameDescription">Description of the game</label>
            <textarea id="gameDescription" name="Description">...Type here</textarea>
        </div>
        <div>
            <label for="gameImage">Image of the game</label>
            <input id="gameImage" name="Image" type="file" />
        </div>
        <div class="form-controls">
            <input id="gameSubmit" name="GameSubmit" type="submit" value="Submit" />
            <input id="gameBack" type="button" value="Back" onclick="backClickHandler()"/>
        </div>
    </form>
</div>
