<div id="tableBlock" class="tableBlock"></div>
<link href="~/Content/Main.css" rel="stylesheet" />
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {

        getAllGames();

    })

    function getAllGames() {
        $.ajax({
            url: '/api/main/games',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                writeResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        })
    }

    function getAllStudios() {
        $.ajax({
            url: '/api/main/studios',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                writeStudioResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        })
    }

    function getAllGenres() {
        $.ajax({
            url: '/api/main/genres',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                writeGenreResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        })
    }

    function getGenreGames(genreId) {
        $.ajax({
            url: '/api/main/genregames/' + genreId,
            type: 'GET',
            dataType: 'json',
                
            success: function (data) {
                writeGenreGamesResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        })
    }

    function writeResponse(games) {
        var strResult = "<table><thead><tr><th>Number</th><th>Name</th><th>Genre</th><th>Studio</th>" +
                        "<th>Date</th><th>Rate</th><th>Description</th><th>Producers</th><tr></thead>";
        $.each(games, function (index, game) {
            strResult += "<tr><td>" + (index + 1) + "</td><td>" + game.Name + "</td><td>" + game.GenreName +
            "</td><td>" + game.StudioName + "</td><td>" + (new Date(Date.parse(game.Date))).toLocaleDateString() + "</td><td>" + game.Rate + "</td><td>"
            + game.Description + "</td><td>" + game.ProducersNames + "</td></tr> ";
        })
        strResult += "</table>";
        strResult += "<div><button onclick=" + "studiosClickHandler()" + ">Studios</button>";
        strResult += "<button onclick=" + "genresClickHandler()" + ">Genres</button></div>";
        $("#tableBlock").html(strResult);
    }

    function writeStudioResponse(studios) {
        var strResult = "<table><thead><tr><th>Number</th><th>Name</th><th>Games</th></tr></thead>";
        $.each(studios, function (index, studio) {
            strResult += "<tr><td>" + (index + 1) + "</td><td>" + studio.Name + "</td><td>" + studio.Games + "</td></tr>";
        })
        strResult += "</table>";
        strResult += "<div><button onclick=" + "gamesClickHandler()" + ">Back</button></div>"
        $("#tableBlock").html(strResult);
    }

    function writeGenreResponse(genres) {
        var strResult = "<div><label for=genre>Genres of the games</label>";
        strResult += "<select id=genre onchange=genresChangeHandler(event)>"
        $.each(genres, function (index, genre) {
            strResult += "<option value=" + genre.Id + ">" + genre.Name + "</option>"
        })
        strResult += "</select><div id=ganreGamesTable></div></div>";
        $("#tableBlock").html(strResult);
        
        if (genres && genres.length > 0) {
            let genre = document.getElementById("genre");
            if (genre) {
                let selectedId = genre.value;
                getGenreGames(selectedId);
            }
        }
    }

    function writeGenreGamesResponse(games) {        
        var strResult = "<table><thead><tr><th>Game</th><th>Rate</th></tr></thead>";
        $.each(games, function (index, game) {
            strResult += "<tr><td>" + game.Name + "</td><td>" + game.Rate + "</td></tr>";
        })
        strResult += "</table>";
        strResult += "<div><button onclick=" + "gamesClickHandler()" + ">Back</button></div>";
        $("#ganreGamesTable").html(strResult);        
    }

    function studiosClickHandler() {
        getAllStudios();
    }

    function gamesClickHandler() {
        getAllGames();
    }

    function genresClickHandler() {
        getAllGenres();
    }

    function genresChangeHandler(event) {        
        if (event == null)
            return;
        
        var index = event.currentTarget.selectedIndex;
        getGenreGames(event.currentTarget.options[index].value);
    }
</script>
